@font-face {
  font-family: 'BlissPro-Medium';
  src: url('../fonts/BlissPro-Medium.eot');
  src: url('../fonts/BlissPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BlissPro-Medium.woff') format('woff'),
  url('../fonts/BlissPro-Medium.ttf') format('truetype'),
  url('../fonts/BlissPro-Medium.svg#BlissPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

#banner {
  width: 1214px;
  height: 266px;
  background: url("../img/bg_banner.jpg")no-repeat;
}
.banner_text {
  width: 558px;
  height: 48px;
  text-align: center;
  padding: 43px 0 0 36px;
  font-family: BlissPro; /* Andrey: полагаю здесь должно быть font-family: 'BlissPro-Medium'; ?*/
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}.counter {
   width: 284px;
   height: 107px;
   margin: 12px 0 0 176px;
   background: url("../img/bg_counter.jpg") no-repeat #eecb1c; /*TODO градиент или оставить картинку? */
    /* Andrey: лучше добиться такого же эффекта CSS стилями
        Данному блоку зададим скругление
        border-radius
        и добавим градиент и внутреннюю тень
        http://take.ms/Bc4rE - здесь видно откуда можно подсмотреть параметры градиента и тени
        http://www.colorzilla.com/gradient-editor/ - удобный инструмент для генерации CSS графидентов. А еще более
        удобно - использовать CSS препроцессор SASS, но об этом как-нибудь позже.

        Если делать все же картинку, то точно вырезать в формате PNG - не jpg. JPG подходит для фотографий и рисунков,
        для гладких элементов дизайна только CSS, png или gif. А в некоторых случаях - векторная графика SVG формата.
    */
    
    box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.13);
   border-radius: 2px;
 }